name: Format PHP files

on:
  push:
    branches: [dev]
    paths:
      - '**/*.php'
  pull_request:
    branches: [dev]
    paths:
      - '**/*.php'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6

      - uses: aglipanci/laravel-pint-action@2.6

      - name: Check for formatting changes
        run: git diff --exit-code
